@include aoa-bg-series($bg__init,$classes_init);


.projects{
    &-s4{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}
.studio{
    &-s3{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .index{
        &-s1{
            background-position: top right !important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            opacity:0.9;
        }
    }
    .projects{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .studio{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
}