$prefix: "../../";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__projects-img: 
    $prefix+"img/projects/projects-s1.jpg",
    $prefix+"img/projects/projects-s2.jpg",
    $prefix+"img/projects/projects-s3.jpg";
$bg__studio-img: 
    $prefix+"img/studio/studio-s1.jpg",
    $prefix+"img/studio/studio-s2.jpg",
    $prefix+"img/studio/studio-s3.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "privacy",
    "projects",
    "studio";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__projects-img,
    $bg__studio-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;